<form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <label for="title">Article Title: </label>
    <input type="text" name="article[title]" value="<%= @article.title %>" id="title"/>
    <label for="content">Article Content: </label>
    <input type="text" name="article[content]" value="<%= @article.content %>" id="content"/>
    <input type="submit"/>
</form>