<form method="POST" action="/articles">
    <label for="article_title">Article Title:</label>
    <input type="text" id="title" name="title"/>
    <label for="article_content">Article Content:</label>
    <input type="text" id="content" name="content"/>
    <input type="submit"/>

</form>